/* font-family: "Epilogue", sans-serif;
font-family: "Roboto", sans-serif; */

:root {
  --gris-fonce: #505050;
  --gris-clair: #a2b0c1;
}

.body-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
}

p {
  margin: 0;
}

/* temperature number */
h3 {
  font-family: "Epilogue", sans-serif;
}

/*********************************************************************** All Containers */
.window {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70vw;
  height: 80%;
  min-height: 650px;
  -webkit-box-shadow: 0px 0px 51px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 51px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 51px -19px rgba(0, 0, 0, 0.75);
  letter-spacing: 2.5px;
  background-color: #fff;
  border-radius: 7px;
}

.container-left {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.65fr;
}

.container-right {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  min-width: 275px;
}

.today-info {
  padding: 25px;
}

.today-meteo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 80px;
}

.forecast-meteo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*********************************************************************** Search box */
.search-box {
  margin: 10px auto;
  max-width: 300px;
}

/********************************************************************** BOX Today Info  */
.location,
.country,
.date,
.flag {
  display: inline;
}

.location {
  font-family: "Epilogue", sans-serif;
  font-size: 38px;
  color: var(--gris-fonce);
}

.country,
.date {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--gris-clair);
  font-weight: lighter;
}

.flag-img {
  width: 40px;
  vertical-align: baseline;
  border: solid;
  border-width: 1px;
  margin-left: 10px;
}

/****************************************************************** BOX Today Meteo */
.today-meteo-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  color: var(--gris-fonce);
  font-size: 115px;
  font-weight: lighter;
}

.icon-today-meteo {
  max-width: 200px;
  animation: bouncing 2.5s 1s linear infinite;
}

@keyframes bouncing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/**************************************************************************** BOX forecast Meteo */
.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gris-clair);
}

.forecast-day img {
  margin: 25px;
  width: 50px;
}

.temp-forecast {
  font-size: 20px;
}

/**************************************************************************** ERROR */

.jumbotron {
  display: flex;
  background-color: #e8e8e8;
  padding: 150px 0 150px 50px;
  letter-spacing: 1px;
}

.titre-error {
  font-family: "Epilogue", sans-serif;
}

.text-error {
  font-size: 23px;
}

.btn-error {
  margin: 20px;
}

.sad-emoji {
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

/********************************************************************************** Add / Remove Class **/
.bg-01d-02d {
  background: center / cover no-repeat url(images/background/foret-soleil.jpg);
}

.bg-01n-02n {
  background: center / cover no-repeat url(images/background/ciel-etoiles.jpg);
}

.bg-03d-03n-04d-04n {
  background: center / cover no-repeat url(images/background/clouds.jpg);
}

.bg-09d-10d {
  background: center / cover no-repeat url(images/background/rain-day.jpg);
}

.bg-09n-10n {
  background: center / cover no-repeat url(images/background/leaf-rain.jpg);
}

.bg-11d-11n {
  background: center / cover no-repeat url(images/background/thunder.jpg);
}

.bg-13d-13n {
  background: center / cover no-repeat url(images/background/neige-soleil.jpg);
}

.bg-50d-50n {
  background: center / cover no-repeat url(images/background/forest-v2.jpg);
}

.hidden {
  visibility: hidden;
}

/* .keyboard { cela ne change pas malgré le fait de passer de 500px à 700px...
  height: calc(100% + 700px);
}
 */
/******************************************************************************* Loading */
.loading {
  position: absolute;
  width: 80px;
  height: 80px;
}

.loading div {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffc107;
  margin: -4px 0 0 -4px;
}
.loading div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/********************************************************************************* RESPONSIVE */
@media (max-width: 1070px) {
  .window {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .container-right {
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0;
    width: inherit;
  }

  .container-left {
    width: inherit;
  }

  .search-box {
    margin: 15px;
    font-size: 16px !important;
  }

  .temp {
    font-size: 90px;
  }

  .icon-today-meteo {
    max-width: 175px;
  }

  .forecast-meteo {
    margin-bottom: 20px;
  }

  .sad-emoji {
    width: 130px;
    height: 130px;
    margin-right: 20px;
  }
}

/***************************************** Smartphone */
@media (max-width: 730px) {
  .window {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    /* background-color: aqua; */
    background-color: chocolate;
  }

  .container-left {
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    border-radius: 0px;
  }

  .container-right {
    border-radius: 0px !important;
  }

  .today-info {
    padding: 25px 0 0 25px;
  }

  .location {
    font-size: 25px;
  }

  .country,
  .date {
    font-size: 16px;
  }

  .flag-img {
    width: 30px;
  }

  .today-meteo {
    margin: 40px 25px;
  }

  .icon-today-meteo {
    width: 115px;
  }

  .forecast-meteo {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .forecast-meteo p {
    font-size: 15px;
  }

  .forecast-day img {
    margin: 15px;
    width: 45px;
  }

  .temp-forecast {
    font-size: 20px;
  }

  .forecast-top {
    margin-bottom: 45px;
  }
}
