<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>Météo</title>
    <link rel="icon" href="images/rainbow.ico" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/c0c834ad46.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!---------------------------------------------------- Modal - user's location error -->
    <div class="modal" id="myModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-warning modal-close-button"
              data-bs-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="switch-buttons">
      <!----------------------------------------------------- Dark mode switch-->
      <label class="label-darkmode">
        <div class="toggle toggle-darkmode">
          <input
            class="toggle-state toggle-state-darkmode"
            type="checkbox"
            name="check"
            value="check"
          />
          <div class="indicator indicator-darkmode"></div>
        </div>
        <div class="label-text-darkmode">dark</div>
      </label>

      <!----------------------------------------------------- Language switch -->
      <label class="label-language">
        <div class="toggle toggle-language">
          <input
            class="toggle-state toggle-state-language"
            type="checkbox"
            name="check"
            value="check"
          />
          <div class="indicator indicator-language"></div>
        </div>
        <div class="label-text-language">
          <span id="users-language">fr / </span
          ><span id="other-language">en</span>
        </div>
      </label>
    </div>

    <div class="body-index">
      <!------------------------------------------------- Loading -->
      <div class="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <!-- <div class="main-window"> -->
        <!------- for good copyright position -->
        <div class="window">
          <!---------------------------------------------------------------------- First container -->
          <section class="container-left">
            <!------------------------------------------------------------------ 1st box -->
            <div class="today-info">
              <div class="city-country">
                <h1 class="location"></h1>
                <h2 class="country"></h2>
              </div>
              <div class="date-flag">
                <h2 class="date"></h2>
                <img class="flag-img" src="" alt="" />
              </div>
            </div>
            <!------------------------------------------------------------------ 2nd box -->
            <div class="today-meteo">
              <div class="today-meteo-column">
                <h3 class="temp"></h3>
              </div>

              <div class="today-meteo-column">
                <img class="icon-today-meteo hidden" src="" alt="image météo" />
              </div>
            </div>
            <!------------------------------------------------------------------ 3rd box -->

            <div class="forecast-meteo hidden">
              <div class="forecast-day forecast-top">
                <p class="d1"></p>
                <img class="d1-img hidden" src="" alt="image météo" />
                <h3 class="d1-temp temp-forecast"></h3>
              </div>
              <div class="forecast-day forecast-top">
                <p class="d2"></p>
                <img class="d2-img hidden" src="" alt="image météo" />
                <h3 class="d2-temp temp-forecast"></h3>
              </div>
              <div class="forecast-day">
                <p class="d3"></p>
                <img class="d3-img hidden" src="" alt="image météo" />
                <h3 class="d3-temp temp-forecast"></h3>
              </div>
              <div class="forecast-day">
                <p class="d4"></p>
                <img class="d4-img hidden" src="" alt="image météo" />
                <h3 class="d4-temp temp-forecast"></h3>
              </div>
            </div>
          </section>
          <!---------------------------------------------------------------------- Second container -->
          <section class="container-right">
            <div class="search-box">
              <form action="/" method="post" enctype="application/x-www-form-urlencoded">
                <div class="input-group mb-3">
                  <input
                    id="inputCity"
                    name="cityName"
                    type="text"
                    class="form-control"
                    placeholder="Chercher une ville"
                    autocomplete="off"
                    autofocus
                  />
                  <button type="submit" class="btn btn-warning">
                    <i class="fas fa-search-location"></i>
                  </button>
                </div>
              </form>
            </div>
            <div class="img-nature bg-image-smartphone"></div>
          </section>
        </div>
        <!-- <div class="copyright">
          <i class="far fa-copyright"><span id="copyright-year">2021,</span></i>
          Fleurdll
        </div> -->
     <!--  </div> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/index.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
